@import 'Mixin.scss';

.contact {
    h2 {
        @include h2-common-style;
        margin-top: 70px;
    }

    h5{
        font-size: 13px;
        color:  white;
        border: 1px solid rgb(121, 156, 165);
        border-radius: 25px;
        font-style: italic;
        text-align: center;
        padding: 10px 5px;
    }

    .contactDescription {
        width: 80%;
        margin: auto;
    }

    .contactEmail {
        @include contact-common-style;
        width: 30%;
        align-items: center;
        .iconeMail {
            width: 35px;
        }
        .mailTo {
            @include link-common-style; 
        }
        padding: 5px 10px 5px 10px;
        margin:auto;
    }
    
    .contactPhone {
        @include contact-common-style;
        width: 20%;
        align-items: center;
        .iconePhone {
            width: 40px;
        }
        .phoneNumber {
            @include link-common-style;
        }
        padding: 5px 117px 5px 0px;
        margin:auto;
    }

    .localisation {
        @include contact-common-style;
        width: 17%;
        align-items: center;
        .iconeLocalisation {
            width: 40px;
        }
        .toLocalisation {
            @include link-common-style;
        }  
        padding: 5px 147px 5px 5px;
        margin:auto;
    }
}

@media screen and (max-width: 720px) {
    .contact {
        h2{
            font-size: 20px;
        }

        h5{
            font-size: 15px;
        }

        .contactEmail {
            .iconeMail {
                width: 25px;
            }
            .mailTo {
                font-size: 15px;
                margin-left: 15px;
            }
        }
        .contactPhone {
            .iconePhone {
                width: 30px;
            }
            .phoneNumber {
                font-size: 15px;
                margin-left: 15px;
            }
        }
        .localisation {
            .iconeLocalisation {
                width: 30px;
            }
            .toLocalisation {
                font-size: 15px;
                margin-left: 15px;
            }
        }
    }
    
}

@media screen and (max-width: 420px) {
    .contact {
        h2{
            font-size: 20px;
        }

        h5{
            font-size: 13px;
        }

        .contactEmail {
            .mailTo {
                font-size: 13px;
            }
        }
        .contactPhone {
            .phoneNumber {
                font-size: 13px;
            }
        }
        .localisation {
            .toLocalisation {
                font-size: 13px;
            }
        }
    }
}