@import 'Mixin.scss';

.footer {
    @include header-footer-common-style;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    height: 110px;
    p {
        margin: auto;
        font-size: 20px;
    }
    .contactLink {
        @include contact-common-style;
        width: 20%;
        a {
            img {
                width: 50%;
            }
        }
    }

    .contactLink :hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 720px) {
    .footer {
        .contactLink {
            width: 40%;
        }
        p {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 440px) {
    .footer {
        p {
            font-size: 10px;
        }
        .contactLink {
            width: 30%;
        }
    }
}