@import 'Mixin.scss';

.footer {
    @include header-footer-common-style;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    height: 110px;
    p {
        margin: auto;
        font-size: 20px;
    }
    .contactLink {
        @include contact-common-style;
        text-align: center;
        width: 30%;
        a {
            img {
                border: white 1px solid;
                border-radius: 15px;
                width: 30%;
            }
        }
    }

    .contactLink :hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1024px) {
    .footer {

        p {
            font-size: 15px;
        }
        .contactLink {
            width: 35%;

            a {
                img {
                    width: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {

        p {
            font-size: 11px;
        }
        .contactLink {
            width: 40%;

            a {
                img {
                    width: 40%;
                }
            }
        }
    }
}