@import 'Mixin.scss';

.portfolio {
    h2 {
        @include h2-common-style;
    }

    h5{
        font-size: 13px;
        color:  white;
        border: 1px solid rgb(121, 156, 165);
        border-radius: 25px;
        font-style: italic;
        text-align: center;
        padding: 10px 5px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .portfolioDescription {
        text-align: center;
        margin-bottom: 60px;
    }
    .imageProject {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        width: 92%;
        margin: auto;
        
        .portfolioImageContainer {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 400px;
            box-shadow: 15px 15px 15px rgb(121, 156, 165);
            border: rgb(53, 80, 124) solid 1px;
            border-radius: 25px;
            cursor: pointer;
            
            .portfolioImage {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-bottom: 20px;
                transition: transform 0.3s;
                
                &:hover {
                    transform: scale(1.05);
                }
            }
            
            .overlay {
                @include overlay-common-style;
                position: absolute;
                opacity: 0;
                transition: opacity 0.3s;
                
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(121, 156, 165, 0.8);
                    border-radius: 25px;
                }
                
                .overlayText {
                    text-align: center;
                    color: rgb(53, 80, 124);
                    z-index: 1;
                    font-weight:bolder;
                    font-family:fantasy;
                    font-size: 20px;
                    padding: 7px;
                    margin: 5px;
                    border-radius: 25px;
                    background-color: rgba(121, 156, 165, 0.8);;
                    width: 85%;
                }
            }
            
            &:hover .overlay {
                opacity: 1;
            }

        }
        
        .portfolioImage:nth-child(4),
        .portfolioImage:nth-child(5) {
            grid-column: span 2;
        }

        .portfolioImageContainer:hover{
            box-shadow: none;
        }
    }
}

.modalContent {
    background-color: rgb(53, 80, 124);
    border: white 1px solid;
    padding: 25px;
    border-radius: 25px;
    position: relative;
    width: 55%;
    height: 80%;
    overflow: auto;
    text-align: center;
    outline: none; 
    }


.modalOverlay {
    @include overlay-common-style;
    position: fixed;
    background-color: rgba(53, 56, 76, 0.7);
    z-index: 999;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}

.closeButton:hover{
    background-color: rgba(121, 156, 165);
    border-radius: 25px;
    color: white;

}

.modalText {
    h2 {
        font-size: 20px;
        border-bottom: white 1px solid;
    }

    .modalDescription {
            h6{
            color: rgba(121, 156, 165);
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            margin-bottom: -13px;
            }

            p {
                font-size: 15px;
                text-align: start;
                margin-bottom: -1px;
            }
    
            ul {
                padding-inline-start: 0;
                margin-top: 15px;
                li {
                   font-size: 15px;
                   text-align: start;
                   color: white;
                }
            }

        .buttonConsultation {
            @include contact-common-style;
            width: 100%;
            gap: 15px;
            .codeLink {
                @include codeLink-common-style;
                border: solid 2px rgba(121, 156, 165);
                text-decoration: none;
                padding: 7px 10px;
                border-radius: 25px;
                display: inline-block;
                font-weight: bold;
                font-size: 10px;
                text-align: center;
                position: relative; 
                overflow: hidden;
                color: rgb(53, 80, 124);
            }
            .codeLink:before,
            .codeLink:after {
                @include overlay-common-style;
                @include codeLink-common-style;
                content: "Cliquez ici !";
                position: absolute;
                transform: translateY(100%);
            }
        
            .codeLink:hover {
                transform: rotateX(180deg); 
                border: solid 2px white;
            }
        
            .codeLink:hover:before,
            .codeLink:hover:after {
                transform: translateY(0);
                transform: scaleY(-1);
                background-color: rgba(121, 156, 165);
            }
        }   
    }
    
}

@media screen and (max-width: 1110px) {
    .portfolio {
        .imageProject {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 5%;
        }
    }
}

@media screen and (max-width: 720px) {
    .portfolio {
        h2 {
            font-size: 20px;
        }

        h5 {
            font-size: 15px;
        }

        .imageProject {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            justify-content: center;
            margin-top: -25px;
            .portfolioImageContainer {
                width: 75%;
                height: 300px;
                margin: auto;
            }
        }
    }

    .modalContent{
        width: 70%;
        height: 70%;
    }

    .modalText{
        .modalDescription{
            h6, p{
                font-size: 13px;
            }
            ul {
                li {
                font-size: 13px;
                }
            }
        }
    }
      
}

@media screen and (max-width: 420px) {
    .portfolio{
        h5{
        font-size: 13px;
        }
    }
    .modalContent {
        width: 65%;
        height: 65%;
    }
    
    .modalText {
        .modalTitle{
            font-size: 13px;
            font-weight: bold;
        }
        .modalDescription{
            h6, p{
                font-size: 10px;
                }

            ul {
               li {
                font-size: 10px;
                 }
                }

            .buttonConsultation {
                flex-wrap: wrap;
                gap: 10px;
                    .codeLink {
                    
                    margin: auto;
                    text-align: center;
                     font-size: 8px;
                     
                 }
            }
        }
            
    }

}