@import 'Mixin.scss';

.skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    h2 {
        @include h2-common-style;
    }

    h5{
        font-size: 13px;
        color:  white;
        border: 1px solid rgb(121, 156, 165);
        border-radius: 25px;
        font-style: italic;
        text-align: center;
        padding: 10px 5px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding-inline-start: 0;
        li {
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 30%;
            height: 250px;
            background-color: rgb(53, 80, 124);
            font-size: 20px;
            border-radius: 25px;
            position: relative;
            box-shadow: 15px 15px 15px rgb(121, 156, 165);
            border: black solid 1px;
            
            &:hover {
                .hover-text{
                    visibility: visible;
                }

                h3, .svg-inline--fa {
                    visibility: hidden;
                }
            }
            .hover-text {
                visibility: hidden;
                color: rgb(255, 255, 255);
                position: absolute; 
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%); 
                width: 95%;
                height: 95%;
            }
            .svg-inline--fa {
                font-size: 40px;
                margin-top: 15px;
            }
        }
            li:hover{
                box-shadow: none;
        }
    }

    .skillsLogo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-top: 100px;
        img {
            width: 5%;
            height: auto;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .skills {
        ul {
            li {
                &:hover {
                    .hover-text {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .skills {

        h2{
            font-size: 20px;
            margin-bottom: auto;
        }

        h5{
            font-size: 15px;
            margin-bottom: auto;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            li {
                width: 45%;
                height: 200px;
                &:hover {
                    .hover-text {
                        font-size: 15px;
                    }
                }
            }

            h3{
                font-size: 15px;
                font-weight: bold;
            }
        }

    }
}

@media screen and (max-width: 500px) {
    .skills {

        ul {
            li {
                width: 90%;
                height: 170px;
            }
        }
        
        h5{
            font-size: 13px;
        }
  
        .skillsLogo {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin: auto;

            img {
                width: 7%;
                padding: 15px;
            }
        }
    }
}